b {
    font-weight: bold;
}

.table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.math-left-align .mjx-chtml.MJXc-display {
    text-align: left !important;
 }

.math-left-align .MathJax_SVG_Display {
    text-align: left !important;
 }

.rc-slider-handle:active {
    border-color: #fff;
}

.rc-slider-handle:hover {
    border-color: #fff;
}

.rc-slider-track {
    background-color: black;
}

.rc-slider-handle {
    border: solid 2px #fff;
    background-color: black;
}

.bs-component {
    margin-bottom:3rem;
    text-align: justify;
    text-justify: inter-word;
   }

.bs-component + .bs-component {
    margin-top:0rem;
}

.jumbotron {
    padding: 2rem 1rem;
}

.no-padding td {
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

a {
    color:blue;
    font-weight:bold;
}

code {
    font-weight: bold;
    color: black;
}

body {
    padding-top: 0px;
}

h1, h2, h3 {
    text-align: center;
}